*
{
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header1
{
  background-color: #ed145b;
  color: white;
  padding: 12px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%; 
}